{{#if message}}

  <div class="empty-cart-container">
    <div class="collection-title margin-bottom-50">
      <h1 class="collection-title-text">
        Hello,
        {{user.username}},
        {{message}}

      </h1>
    </div>

    <a href="/"><button type="submit" class="empty-cart-btn">Find your next
        watch</button></a>
  </div>

{{else}}

  {{! default }}
  <div class="collection-title">
    <h1 class="collection-title-text">Your shopping cart</h1>
  </div>

  <hr />

  <div class="shopping-cart">
    {{#each products}}
      <div class="shopping-card">
        <img class="shopping-image" src={{this.imageUrl}} alt="" />
        <ul class="shopping-text">
          <li class="shopping-name">{{this.brand}} {{this.model}}</li>
          <li class="shopping-movement">{{this.movement}}</li>
          <li class="shopping-stock">In Stock</li>
          <div class="shopping-forms">
            <form action="/cart/remove" method="POST">
              <input type="hidden" name="productID" value="{{this.id}}" />
              <button type="submit" class="cart-btn-remove">Remove from cart</button>
            </form>
            <form action="/collection/add" method="POST">
              <input type="hidden" name="watchId" value="{{this.id}}" />
              <button type="submit" class="cart-btn">Add to collection</button>
            </form>
          </div>
        </ul>
        <li class="shopping-price">USD {{this.price}}</li>
      </div>
    {{/each}}
    <div class="shopping-total">Total: USD
      <span id="total-price"> {{total}} </span>
    </div>
    <img src="/images/paymentmethods.png" alt="" class="shopping-methods" />
    <form action="/create-checkout-session" method="POST">
      <button type="submit" class="checkout-btn">Proceed to Checkout</button>
    </form>

  </div>
  {{! <p>this is the updateded version 10:31am</p> }}

{{/if}}