<section class="search-home">

  <form action="/watch-search" class="search-form" method="GET">
    <label for="query"></label>
    <input
      class="search-input"
      type="text"
      id="query"
      name="brand"
      placeholder="Find your favourite watch..."
      required
    />
    {{! <input type="text" id="query" name="brand" placeholder="Find your favourite watch..." required /> }}
    <button type="submit" class="home-btn">Search</button>
  </form>

  <div class="collection-title">
    <h1 class="collection-title-text">Our Spring 2023 Collection</h1>
  </div>

  <hr class="hr-index" />

</section>
<div class="watch-grid">
  {{#each allWatches}}
    <a href="/watches/{{this._id}}" class="watch-card-link">
      <div class="watch-card">
        <div class="watch-card-img">
          <img class="watch-hero" src={{this.imageUrl}} alt="" />
        </div>
        <div class="watch-card-text">
          <h2 class="watch-index-title">{{this.brand}} {{this.model}}</h2>
          <p class="watch-index-description">{{this.movement}}</p>
        </div>
      </div>
    </a>
  {{/each}}
</div>