<h1>YOUR WATCH COLLECTION</h1>

  <div class="watch-grid">
    {{#each products}}
      <div class="watch-card">
        <a href="/watches/{{this._id}}"><img
            class="watch-hero"
            src={{this.imageUrl}}
            alt=""
          /></a>

        <h2 class="watch-index-title">{{this.brand}} {{this.model}}</h2>
        <p class="watch-index-description">{{this.movement}}</p>
        <div class="shopping-forms">
                <form action="/cart/add" method="POST">
          <input type="hidden" name="watchID" value="{{this._id}}" />
          <button type="submit" class="cart-btn-remove">Add to Cart</button>
        </form>
          <form action="/collection/remove" method="POST">
            <input type="hidden" name="productID" value="{{this.id}}" />
            <button type="submit" class="cart-btn-remove">Remove from collection</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>

</div>
<p>this is the updateded version 10:31am</p>