<div class="collection-title">
  <h1 class="collection-title-text">Our Spring 2023 Collection</h1>
</div>

<hr />

<section class="search-home">

  <form action="/watch-search" class="search-form" method="GET">
    <label for="query"></label>
    <input
      class="search-input"
      type="text"
      id="query"
      name="brand"
      placeholder="Find your favourite watch..."
      required
    />
    {{! <input type="text" id="query" name="brand" placeholder="Find your favourite watch..." required /> }}
    <button type="submit" class="home-btn">Search</button>
  </form>

</section>
<div class="watch-grid">
  {{#each allWatches}}
    <div class="watch-card">
      <a href="/watches/{{this._id}}"><img
          class="watch-hero"
          src={{this.imageUrl}}
          alt=""
        /></a>

      <h2 class="watch-index-title">{{this.brand}} {{this.model}}</h2>
      <p class="watch-index-description">{{this.movement}}</p>
    </div>
  {{/each}}
</div>