<div class="collection-title">
  <h1 class="collection-title-text">Welcome back, {{user.username}} </h1>
</div>

<hr />

<h1> hello, {{user.username}} </h1>
<h2> {{user.password}} </h2>

<h2> {{user.email}} </h2>

{{!-- <h1>Hello {{user.username}}</h1> --}}