<h1>specific watch goes here!!!</h1>

{{#each watch}}
  <h1> {{this.watchName}}</h1>
  <h2> {{this.id}} </h2>
  {{!-- <img src="{{url}}" alt="" /> --}}
  {{!-- <h3>{{../image}}</h3> --}}
  <img src="{{../image}}" alt="">
{{/each}}