<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar-profile">
      <a href="/watches" class="nav-home">Home</a>
      <a href="/auth/logout" class="nav-btn">Logout</a>
    </nav>
    <div class="watch-details-title-container">
      <h1 class="watch-details-title">{{this.brand}} {{this.model}}</h1>
      <p class="watch-details-movement">{{this.movement}}</p>
    </div>

    <div class="watch-container">
      <div class="watch-image">
        <img class="watch-image" src={{this.imageUrl}} alt="" />
      </div>
      <div class="watch-text">
        <h2 class="watch-details-description">{{this.description}}</h2>
        <div class="watch-row">
          <h2 class="watch-label">Case</h2>
          <p class="watch-details-material">{{this.caseMaterial}}</p>
        </div>
        <div class="watch-row">
          <h2 class="watch-label">Band</h2>
          <p class="watch-details-material">{{this.bandMaterial}}</p>
        </div>
        <div class="watch-row">
          <h2 class="watch-label">Features</h2>
          <p class="watch-details-material">{{this.features}}</p>
        </div>
        <div class="watch-row">
          <h2 class="watch-label">Price</h2>
          <p class="watch-details-material">${{this.price}}</p>
        </div>

        <form action="/cart/add" method="POST">
          <input type="hidden" name="watchID" value="{{this._id}}" />
          <button type="submit" class="watch-details-button">Add to Cart</button>
        </form>

{{!-- // List the reviews --}}
<div class="review-container">
<hr>
<h2>REVIEWS</h2>
    {{#each this.reviews}}
    <div class="review-details">
    <h4>Username: {{username}}</4>
    <p><span>Rating: {{rating}}/5</span></p>
    </div>
    <p>{{description}}</p>
{{/each}}
</div>

{{!-- Add Watch Review --}}
<div class="add-review-container">
<h2>Write a review</h2>
<form action="/watches/{{this._id}}" method="POST">
<label for="user"></label>
<input type="text" name="username" placeholder="Username">

<label for="rating"></label>
<input type="number" max="5" name="rating" placeholder="Rating">

<label for="text"></label>
<input type="text" name="description" placeholder="Description (optional)" class="review-description">

<button type="submit" class="watch-details-button">Add review</button>
</form>
</div>

  </div>
</div>
<footer class="footer-background footer">

      </div>
    </div>
    <footer class="footer-background footer">
      <section>
        <h3>Project Watch</h3>
        <address class="address">Storkower Straße 132,
          <br />
          10407 Berlin,
          <br />
          Germany
          <br />
          +49 30 12 34 56 78</address>
        <div class="imprint-container">
          <span class="imprint-span">Imprint</span><span
            class="imprint-span"
          >Contact Us</span>
        </div>
        <div class="imprint-copyright">
          <span>© 2023 Project Watch</span>
        </div>
      </section>
      <iframe
        src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=en&amp;q=Storkower%20Stra%C3%9Fe%20132%20Berlin+(Project%20Watch)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        class="map-frame"
        frameborder="0"
        style="border:0"
        allowfullscreen
      ></iframe>

    </footer>
  </body>
</html>