<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
     <nav class="navbar-profile">
        <a href="/watches" class="nav-home">Home</a> 
        <a href="/auth/logout" class="nav-btn">Logout</a> 
</nav>
  <div class="watch-title">
  <h1>{{this.brand}} {{this.model}}</h1>
  <h2>{{this.description}}</h2>
</div>

<div class="watch-container">
  <div class="watch-image">
    <img src={{this.image}} alt="" />
  </div>
  <div class="watch-text">
    <h2>Case</h2>
    <p>{{this.caseMaterial}}</p>
    <h2>Band</h2>
    <p>{{this.bandMaterial}}</p>
    <h2>Price</h2>
    <p>${{this.price}}</p>
    <button>Add to cart</button>
  </div>
</div>
<footer class="footer-background footer">
      <section>
        <h3>Project Watch</h3>
        <address class="address">Storkower Straße 132, <br /> 10407 Berlin, <br /> Germany <br /> +49 30 12 34 56 78</address>
       <div class="imprint-container">
        <span class="imprint-span">Imprint</span><span class="imprint-span">Contact Us</span>
    </div>
     <div class="imprint-copyright">
         <span>© 2023 Project Watch</span>
    </div>
      </section>
<iframe src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=en&amp;q=Storkower%20Stra%C3%9Fe%20132%20Berlin+(Project%20Watch)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe> 
   
    </footer>
</body>
</html>