<div class="watch-title">
  <h1>{{this.brand}} {{this.model}}</h1>
  <h2>{{this.description}}</h2>
</div>

<div class="watch-container">
  <div class="watch-image">
    <img class="watch-image" src={{this.imageUrl}} alt="" />
  </div>
  <div class="watch-text">
    <h2>Case</h2>
    <p>{{this.caseMaterial}}</p>
    <h2>Band</h2>
    <p>{{this.bandMaterial}}</p>
    <h2>Price</h2>
    <p>${{this.price}}</p>

    <form action="/cart/add" method="POST">
      <input type="hidden" name="watchID" value="{{this._id}}" />
      <button type="submit">Add to Cart</button>
    </form>

  </div>
</div>